/* Benefit watch */
.bg-primary-green .style-watch {
    .benefit-block {
        .benefit-item {
            i {
                color: var(--light-green);
            }

            .heading6 {
                color: var(--white);
            }

            .text-gray-90 {
                color: var(--gray-30);
            }
        }
    }
}