/* Cart page */
.cart-block {
    .heading.banner {
        .tow-bar-block {
            height: 10px;
            background-color: var(--white);
            border-radius: 100px;
            position: relative;
            box-shadow: 0px 4px 35px 0px rgba(62, 62, 63, 0.03);

            .progress-line {
                position: absolute;
                left: 0;
                height: 10px;
                background-color: #3DAB25;
                border-radius: 100px;
            }
        }
    }

    .quantity-block {
        svg {
            cursor: pointer;

            &.disabled {
                color: var(--gray-90);
                pointer-events: none;
            }
        }
    }

    .list-voucher {
        .item {
            transition: all ease 0.3s;

            .top {
                position: relative;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 16px;
                    height: 16px;
                    background-color: var(--white);
                    border-right: 1px solid var(--gray-30);
                    border-radius: 50%;
                    left: -11px;
                    bottom: -8px;
                }

                &::after {
                    left: unset;
                    right: -11px;
                    border-right: none;
                    border-left: 1px solid var(--gray-30);
                }
            }

            &.bg-primary-green {
                border-color: var(--light-green);

                .border-extra-light-gray {
                    border-color: var(--white);
                }

                .button-main {
                    background-color: var(----green-50);
                    color: var(--black);
                }

                .top {

                    &::before,
                    &::after {
                        border-color: var(--light-green);
                    }
                }
            }
        }
    }
}

.payment-block {
    .list-payment {
        .type {
            .infor {
                overflow: hidden;
                max-height: 0;
                // opacity: 0;
                visibility: hidden;
                transition: all ease 0.8s;
            }

            &.open {
                .infor {
                    max-height: 1000px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}