@import "tailwindcss";


@theme inline {
    --color-green-dark: #00703A;
    --color-primary-green: #019C3E;
    --color-light-green: #80CF8C;
    --color-green-50: #F0F8EC;

    --color-black: #0A0A0A;

    --color-gray-90: #404040;
    --color-gray-80: #737373;
    --color-gray-30: #A7A7A5;
    --color-gray-20: #E7E7E7;
    --color-extra-light-gray: #F5F5F4;

    --color-white: #FDFDFD;

    --color-blue: #342E86;
    --color-light-blue: #ECF0F9;

    --color-yellow: #FAB613;
    --color-orange: #EA5D0C;

    --color-beige: #FCD8B8;
    --color-light-beige: #FAECE4;

    --color-semantic-orange: #F89706;
    --color-semantic-red: #EE2B2B;
}